$font-family-sans-serif: 'Poppins', sans-serif;

$danger: rgb(240, 76, 0);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.css";

body {
    background-color: rgb(33, 33, 33);
}

.container{
    max-width: 1200px;
}

.container .movieBox.blur {
    filter: blur(12px);
    pointer-events: none;
}

.card{
    cursor: pointer;
}

.card-body .moviePhoto{
    overflow: hidden;
    border-radius: 7px;
}

.card-body .buttons .reviewBtn, .card-body .buttons .downloadBtn {
    transition: 0.2s;
}

.card-body .buttons .reviewBtn:hover{
    transform: translateY(-2px);
}

.card-body .buttons .downloadBtn:hover{
    transform: translateY(-2px);
}

.card img{
    transition: 0.3s;
}

.card:hover img{
    transform: scale(1.03);
}

.card .card-body .buttons{
    margin-top: auto !important;
}

.reviewBox {
    position: relative;
}

.closeSymbol {
    position: absolute;
    top: 1%;
    right: 2%;
    cursor: pointer;
}

.searchBtn:hover {
    color: #fff !important;
}

.input {
    width: 340px !important;
}

.reviewsContainer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 25px;
}

.searchBox input {
    margin: auto;
}

.reviewsContainer.animateIn {
  animation: show_animate 0.2s ease-in forwards;
}

.reviewsContainer.animateOut {
  animation: hide_animate 0.2s ease-out forwards;
}

@keyframes show_animate {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes hide_animate {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(0);
  }
}

.adsWrapper {
    position: fixed;
    bottom: 12px;
    right: 34px;
}

.adsBox {
    max-width: 600px;
}

.contentBox {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    
}

.closeAdsBtn {
    opacity: 50%;
    transition: 0.2s;
}

.closeAdsBtn:hover {
    opacity: 100%;
}

@media screen and (min-width: 600px) {
    
    .searchBox input {
        width: 470px !important;
    }
}

@media screen and (min-width: 768px) {
    .reviewBox img{
        width: 600px !important;
    }

    .searchBox input {
        width: 700px !important;
    }
}

@media screen and (min-width: 990px) {
    

    .reviewBox img{
        width: 550px !important;
        margin-bottom: 12px;
    }

    .searchBox input {
        width: 1100px !important;
    }
}

@media screen and (max-width: 568px) {

    .reviewsContainer {
        margin: 20px 0;
    }

    .reviewBox img{
        width: 250px !important;
    }

    .searchBox input {
        width: 282px !important;
    }

    .adsWrapper {
        right: 12px;
        bottom: auto !important;
        top: 15% !important;
    }
}